body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
  
    /* Typography */
    font-size: 12px;
    line-height: 150%;
    color: #333;
  
    /* Visual */
    background: #efeee7;
  }
  
  header {
    background: #d21034;
  }
  
  h1 {
    /* Box-model */
    padding: 20px 0;
  
    /* Positioning */
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
  
    /* Typography */
    color: #eee;
    text-align: center;
  
    /* Visual */
    background: #333;
  }

  .crystal-image {
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }